.scroll-area {
  flex: 1;
  overflow-y: auto;
  height: 72vh;
  color: white;
  padding: 0 40px;
  scrollbar-width: none;
}
.message {
  padding: 8px;
  border-radius: 15px;
  font-size: 1.2em;
}
.my-message {
  background-image: linear-gradient(#0f0d83, #3c1779);
  border-top-right-radius: 0;
  margin-left: 50px;
}
.other-message {
  margin-right: 50px;
  background-color: #5c5c5c;
  color: white;
  border-top-left-radius: 0;
}
.scroll-area::-webkit-scrollbar {
  display: none;
}

/* my messages chain attributes */
.same-person-messages-my {
  border-bottom-right-radius: 0;
}
.last-of-message-chain-my {
  border-bottom-right-radius: 15px;
}
.first-of-message-chain-my {
  border-bottom-right-radius: 0;
}

/* oher people messages chain attributes */
.same-person-messages-other {
  border-bottom-left-radius: 0;
}
.last-of-message-chain-other {
  border-bottom-left-radius: 15px;
}
.first-of-message-chain-other {
  border-bottom-left-radius: 0;
}
