.scroll-area {
  flex: 1;
  overflow-y: auto;
  height: 72vh;
  color: white;
  padding: 0 40px;
  scrollbar-width: none;
}
.message {
  padding: 8px;
  border-radius: 15px;
  font-size: 1.2em;
}
.my-message {
  background-image: linear-gradient(#0f0d83, #3c1779);
  border-top-right-radius: 0;
}
.other-message {
  background-color: #5c5c5c;
  color: white;
  border-top-left-radius: 0;
}
.scroll-area::-webkit-scrollbar {
  display: none;
}
