body {
  padding: 0;
  margin: 0;
}
.main-container {
  display: flex;
  justify-content: center;
}
.container {
  flex: 1;
  background-color: rgb(212, 254, 255);
  width: 60%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.login-or-register-button {
  font-size: 10px;
}
a {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
